.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;

  background-color: beige;
}

.whiteNote {
  width: 60px;
  height: 200px;
  background: white;
  border: solid black 1px;
  box-shadow: 2px 5px;
  margin: 1px;
  margin-left: '-20px';
  box-sizing: border-box;

  :active {
    background: #eee;
  }
}

.blackNote {
  width: 40px;
  height: 130px;
  background: black;
  border: solid black 1px;
  position: absolute;
  margin: 1px;
  margin-left: -20px;

  :active {
    background: #333;
  }
}
