.samplerWrapper {
  display: flex;
  column-gap: 15%;
}

.samplerBtnsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4rem;
  gap: 1rem;

  button {
    font-size: 1.2rem;
  }
}

.samplesList {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  max-width: 25vw;
  max-height: 25vh;
  flex-wrap: wrap;

  li {
    display: flex;
    background-color: rgba(58, 255, 107, 0.196);
    border-radius: 50%;
  }

  .singleSample {
    background-color: rgb(245, 255, 99);
    padding: 0.5rem;
    color: black;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.221);
    text-align: center;
  }

  .deleteButton {
    padding: 0 0 0 0.5rem;
    border: none;
    box-shadow: none;
    background: none;
    color: grey;
    transition: font-size 0.3s ease;
  }

  .deleteButton:hover {
    font-size: 1.35rem;
    color: red;
    cursor: pointer;
  }
}

.downloadButton {
  background-color: rgba(2, 2, 206, 0.605);
  color: white;
}

.recordingOff {
  background-color: rgba(190, 0, 0, 0.753);
  color: white;
}

.recordingOn {
  color: white;
  background-color: rgb(255, 0, 0);
}

.loopOn {
  background-color: rgb(0, 166, 0);
  color: white;
}

.loopOff {
  background-color: rgba(0, 172, 43, 0.581);
  color: black;
}

.holdOn {
  background-color: blue;
  color: white;
}

.holdOff {
  background-color: rgb(0, 149, 166);
  color: white;
}
