@import 'mixins';

.main {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: space-evenly;
  padding: 0.5rem;
  min-height: 100vh;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-evenly;
}

// .keyboardBox {
//   // position: sticky;
//   //display: block;
// }
