@import 'mixins';

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

.login {
  display: inline-block;
  padding: 0.5rem 1rem;
  z-index: 99;
}

.topBar {
  border-radius: 0.5rem; // dummy for ts error
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.position_fixed {
  position: fixed;
  top: 10vh;
  right: 10vw;
  z-index: -1;
}
