// src/components/UI/Basic/Toggle.module.scss

/* Animation */

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.toggleButton {
  padding: 10px 20px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;

  width: fit-content; // alomst never works
  // width: 50%;

  &:hover {
    opacity: 0.9;
  }

  &.default {
    background-color: #808080;
    color: white;
    &.on {
      background-color: #4caf50;
    }
    &.off {
      background-color: #f44336;
    }
  }

  &.menu {
    background-color: rgb(102, 253, 107);
    color: #333;
    text-align: left;
    width: 100%;
    padding: 10px;
    text-transform: none;

    &.on {
      font-weight: bold;
      background-color: #61ffe5;
      box-shadow: #001f3f 0px 0px 10px;
    }
  }

  &.record {
    background-color: #ff4136;
    color: white;
    &.on {
      animation: pulse 1s infinite;
    }
  }

  &.loop {
    background-color: #0074d9;
    color: white;
    &.on {
      background-color: #7fdbff;
      color: #001f3f;
    }
  }

  &.hold {
    background-color: #ff851b;
    color: white;
    &.on {
      background-color: #f475ff;
      box-shadow: 0 0 10px #ff851b;
    }
  }

  &.lock {
    background-color: #b10dc9;
    color: white;
    &.on {
      background-color: #85144b;
    }
  }

  &.link {
    background-color: #3d9970;
    color: white;
    &.on {
      text-decoration: underline;
    }
  }

  &.smallIcon {
    padding: 5px 10px;
    border-radius: 50%;
  }
}

.toggleMulti {
  padding: 10px 20px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;

  &:hover {
    opacity: 0.9;
  }

  &.recordArm {
    color: white;
  }

  &.idle {
    font-weight: bold;
    background-color: #c44c45;
    box-shadow: #001f3f 0px 0px 10px;
  }

  &.armed {
    font-weight: bold;
    background-color: #ff4136;
    box-shadow: #001f3f 0px 0px 10px;

    animation: pulse 1s infinite;
  }

  &.recording {
    font-weight: bold;
    background-color: #ff4136;
    box-shadow: #001f3f 0px 0px 10px;

    animation: bounce 1s infinite;
  }
}
