.sampler {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: calc(0.1 * 80vw);

  margin: 0 auto;
  max-width: 80vw;
  z-index: 99;

  &.buttons {
    h2 {
      text-align: center;
      padding: 0.2rem;
      font-size: 1rem;
    }

    z-index: 99;
  }

  .samples > * {
    max-width: 20vw;
    max-height: 10vh;
    overflow-y: visible;

    z-index: 99;

    button {
      z-index: 99;
    }
  }

  button {
    z-index: 99;
  }

  input {
    z-index: 99;
  }
}

.clickable {
  cursor: pointer;
  z-index: 99;
}

.shapes {
  max-height: 50%;
  max-width: 50%;
  overflow: visible;
  z-index: -1;
}

.keyboardBoxWrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.keyboardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;

  width: 100%;
  max-width: 100vw;
  max-height: 40vh;

  overflow: visible;
  // border: 1px solid #000; /* For debugging */
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  label {
    width: 50px;
  }

  input {
    width: 100px;
  }
}

.piano {
  display: flex;
}
