.sampler {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: calc(0.1 * 80vw);

  margin: 0 auto;
  max-width: 80vw;
  // width: 50vw;

  &.buttons {
    h2 {
      text-align: center;
      padding: 0.2rem;
      font-size: 1rem;
    }
  }

  .samples {
    max-width: 20vw;
    // position: absolute; // position: sticky;
    // top: 2rem;
    // right: 2rem;
  }
}

.waveform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 200px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  label {
    width: 50px;
  }

  input {
    width: 100px;
  }
}

.piano {
  display: flex;
}

.sliderContainer {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 1rem;
  // width: 200px;

  // h1 {
  //   text-align: center;
  //   padding: 0.2rem;
  //   font-size: 1rem;
  //   border-style: ridge;
  //   border-radius: 20%;
  // }
  // .slider {
  //   display: flex;
  //   flex-direction: row;

  //   input {
  //     width: 100px;
  //   }
  //   label {
  //     width: 50px;
  //   }
  // }
}
