.samplerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  //background-color: green;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 200px;

  h1 {
    text-align: center;
    padding: 0.2rem;
    font-size: 1rem;
    border-style: ridge;
    border-radius: 20%;
  }
  .slider {
    display: flex;
    flex-direction: row;

    input {
      width: 100px;
    }
    label {
      width: 50px;
    }
  }
}

.recordingOff {
  background-color: rgba(190, 0, 0, 0.753);
  color: white;
}

.recordingOn {
  background-color: rgb(255, 0, 0);
  color: white;
}

.waveContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 25vh;
}
